<template>
  <div id="app">
    <VueButton title="Button"/>
  </div>
</template>

<script>
import VueButton from './VueButton.vue'

export default {
  name: 'App',
  components: {
    VueButton
  }
}
</script>