<template>
  <a href="#" class="btn">Button Exitable</a>
</template>

<script>

export default {
  name: 'VueButton',
}
</script>

<style scoped>
.btn {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  background:red;
  display:inline-block;
  padding:10px;
  text-decoration: none;
  transition: all .2s;
  font-weight:bold;
}

.btn:hover {
   background:blue;
}

</style>
